// ------------------------------------------------------------
// Configuration
// ------------------------------------------------------------
// Styles
$enable-forms-buttons:        false !default;
$enable-tables:               false !default;
$enable-vis-hidden:           false !default;
$enable-smooth-scroll:        false !default; // Included with prefers-reduced-motion: no-preference
$enable-view-transition:      false !default; // As above

// Theme switch
$enable-theme-switch:         false !default; // Requires theme-switch.js
$enable-switch-button:        false !default;

// Colors
$enable-theme-colors:         false !default;
$enable-primary-colors:       false !default;

// Components
$enable-accordions:           false !default;
$enable-alerts:               false !default;
$enable-cards:                false !default;
$enable-dialogs:              false !default; // Requires dialogs.js
$enable-dialog-animate:       false !default;
$enable-list-groups:          false !default;
$enable-popovers:             false !default;

// Utility modifiers
$enable-backgrounds:          false !default;
$enable-badges:               false !default;
$enable-borders:              false !default;
$enable-buttons:              false !default; // Requires $enable-forms-buttons: true
$enable-gradients:            false !default;
$enable-images:               false !default;
$enable-lists:                false !default;
$enable-shadows:              false !default;
$enable-text:                 false !default;

// Layout utilities
// Breakpoints
$enable-breakpoint-xl:        false !default; // 1601px
$enable-breakpoint-lg:        false !default; // 1281px
$enable-breakpoint-md:        false !default; // 1025px
$enable-breakpoint-sm:        false !default; // 769px
$enable-breakpoint-xs:        false !default; // 481px

// Grids and containers
$enable-grid-auto:            false !default;
$enable-grid-columns:         false !default;
$enable-containers:           false !default;

// Spacing
$enable-gaps:                 false !default;
$enable-margins:              false !default;
$enable-padding:              false !default;

// Spacing breakpoints
$enable-margins-bp:           false !default;
$enable-padding-bp:           false !default;

// Display
$enable-block:                false !default;
$enable-flex:                 false !default;
$enable-alignment:            false !default;
$enable-sizing:               false !default;
$enable-order:                false !default;
$enable-position:             false !default;
$enable-overflow:             false !default;

// Display breakpoints
$enable-block-bp:             false !default;
$enable-flex-bp:              false !default;
$enable-alignment-bp:         false !default;
$enable-sizing-bp:            false !default;
$enable-order-bp:             false !default;
$enable-position-bp:          false !default;
$enable-overflow-bp:          false !default;

// Icon utilities
$enable-icon-mixins:          false !default;
$enable-icon-styles:          false !default;

// Icons SVG
$enable-logo-svg:             false !default;
$enable-house-svg:            false !default;
$enable-email-svg:            false !default;
$enable-plus-svg:             false !default;
$enable-minus-svg:            false !default;
$enable-bars-svg:             false !default;
$enable-caret-down-svg:       false !default;
$enable-caret-up-svg:         false !default;
$enable-caret-right-svg:      false !default;
$enable-caret-left-svg:       false !default;
$enable-close-svg:            false !default;
$enable-close-box-svg:        false !default;
$enable-close-box-fill-svg:   false !default;
$enable-box-svg:              false !default;
$enable-pen-box-svg:          false !default;
$enable-tick-box-svg:         false !default;
$enable-ext-link-svg:         false !default;
$enable-pg-link-svg:          false !default;
$enable-search-svg:           false !default;
$enable-download-svg:         false !default;
$enable-user-svg:             false !default;
$enable-question-svg:         false !default;
$enable-sun-svg:              false !default;
$enable-moon-svg:             false !default;
$enable-radio-on-svg:         false !default;
$enable-radio-off-svg:        false !default;
