//  ------------------------------------------------------------
//  Backgrounds
//  ------------------------------------------------------------

@if $enable-backgrounds {

@if $enable-theme-colors and $enable-primary-colors {
  :where(.surf-1-light, .surf-2-light, .surf-3-light, .surf-4-light, .surf-1-dark, .surf-2-dark, .surf-3-dark, .surf-4-dark, .bg-blue, .bg-red, .bg-green, .bg-orange, .bg-cyan) {
    @include background-props;
  }
}
@else {
  @if $enable-primary-colors {
    :where(.bg-blue, .bg-red, .bg-green, .bg-orange, .bg-cyan) {
      @include background-props;
    }
  }
  @if $enable-theme-colors {
    :where(.surf-1-light, .surf-2-light, .surf-3-light, .surf-4-light, .surf-1-dark, .surf-2-dark, .surf-3-dark, .surf-4-dark) {
      @include background-props;
    }
  }
}

.bg-body {
  background-color: var(--body-bg);
}

.surf-1 {
  background-color: var(--surf-1);
}

.surf-2 {
  background-color: var(--surf-2);
}

.surf-3 {
  background-color: var(--surf-3);
}

.surf-4 {
  background-color: var(--surf-4);
}

@if $enable-theme-colors {

.bg-body-light {
  --color: #000;
  --ico: #000;
  color: #000;
  background-color: var(--body-bg-light);
}

.bg-body-dark {
  --color: #fff;
  --ico: #fff;
  color: #fff;
  background-color: var(--body-bg-dark);
}

.surf-1-light {
  --bg: var(--surf-1-light);
  --bg-txt: #000;
  --bd-col: var(--surf-1-light);
}

.surf-2-light {
  --bg: var(--surf-2-light);
  --bg-txt: #000;
  --bd-col: var(--surf-2-light);
}

.surf-3-light {
  --bg: var(--surf-3-light);
  --bg-txt: #000;
  --bd-col: var(--surf-3-light);
}

.surf-4-light {
  --bg: var(--surf-4-light);
  --bg-txt: #000;
  --bd-col: var(--surf-4-light);
}

.surf-1-dark {
  --bg: var(--surf-1-dark);
  --bg-txt: #fff;
  --bd-col: var(--surf-1-dark);
}

.surf-2-dark {
  --bg: var(--surf-2-dark);
  --bg-txt: #fff;
  --bd-col: var(--surf-2-dark);
}

.surf-3-dark {
  --bg: var(--surf-3-dark);
  --bg-txt: #fff;
  --bd-col: var(--surf-3-dark);
}

.surf-4-dark {
  --bg: var(--surf-4-dark);
  --bg-txt: #fff;
  --bd-col: var(--surf-4-dark);
}

} // END [if/theme-colors]

@if $enable-primary-colors {
  
  .bg-blue {
    --bg: var(--blue);
    --bg-txt: #fff;
    --bd-col: var(--blue);
  }
    
  .bg-green {
    --bg: var(--green);
    --bg-txt: #fff;
    --bd-col: var(--green);
  }

  .bg-red {
    --bg: var(--red);
    --bg-txt: #fff;
    --bd-col: var(--red);
  }
    
  .bg-orange {
    --bg: var(--orange);
    --bg-txt: #000;
    --bd-col: var(--orange);
  }
  
  .bg-cyan {
    --bg: var(--cyan);
    --bg-txt: #000;
    --bd-col: var(--cyan);
  }
} // END [if/primary-colors]

} // END [if/backgrounds]
