//  ------------------------------------------------------------
//  Borders
//  ------------------------------------------------------------

@if $enable-borders {

.bd, .bd-t, .bd-b, .bd-l, .bd-r, .bd-y, .bd-x, .bd-child * {
  --bd-size: 1px;
  --bd-style: solid;
  --bd-color: var(--surf-3);
  border-radius: var(--bd-radius);
}

.bd {
  border: var(--bd-size) var(--bd-style) var(--bd-color);
}

.bd-t {
  border-block-start: var(--bd-size) var(--bd-style) var(--bd-color);
}

.bd-b {
  border-block-end: var(--bd-size) var(--bd-style) var(--bd-color);
}

.bd-y {
  border-block: var(--bd-size) var(--bd-style) var(--bd-color);
}

.bd-x {
  border-inline: var(--bd-size) var(--bd-style) var(--bd-color);
}

.bd-l {
  border-inline-start: var(--bd-size) var(--bd-style) var(--bd-color);
}

.bd-r {
  border-inline-end: var(--bd-size) var(--bd-style) var(--bd-color);
}


.bd-child * {
  border: var(--bd-size) var(--bd-style) var(--bd-color);
}

.radius-xs, .radius-sm, .radius-md, .radius-lg, .radius-xl, .radius-circle {
  border-radius: var(--bd-radius);
}

.radius-xs {
  --bd-radius: .125em;
}

.radius-sm {
  --bd-radius: .25rem;
}

.radius-md {
  --bd-radius: .5rem;
}

.radius-lg {
  --bd-radius: .75rem;
}

.radius-xl {
  --bd-radius: 1rem;
}

.radius-circle {
  --bd-radius: 50%;
}

@if $enable-primary-colors {
  .bd-blue {
    --bd-color: var(--blue);
  }
  
  .bd-red {
    --bd-color: var(--red);
  }
  
  .bd-green {
    --bd-color: var(--green);
  }
  
  .bd-orange {
    --bd-color: var(--orange);
  } 
  
  .bd-cyan {
    --bd-color: var(--cyan);
  } 
} // END [if/primary-colors]

} // END [if/borders]