//  ------------------------------------------------------------
//  Icons
//  ------------------------------------------------------------
@use "../../configuration" as *;
@use "../../properties" as *;

@mixin icon-mask {
  display: inline-block;
  background-color: var(--ico);
  content: "";
  width: var(--fs);
  height: var(--fs);
  vertical-align: var(--ico-va);
  mask-image: var(--svg);
  mask-repeat: no-repeat;
  -webkit-mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
}

%icon-mask {
  @include icon-mask;
}

@if $enable-icon-styles {

.ico:before {
  @extend %icon-mask;
}

.ico-a:after {
  --ico-ml: calc(var(--fs) / 5);
  @extend %icon-mask;
  margin-inline-start: var(--ico-ml);
}

.ico-b:before {
  --ico-mr: calc(var(--fs) / 3.75);
  @extend %icon-mask;
  margin-inline-end: var(--ico-mr);
}

.ico-block:before {
  --ico-mb: .25rem;
  --ico-va: initial;
  @extend %icon-mask;
  display: block;
  margin-inline: auto;
  margin-block-end: var(--ico-mb);
}

.ico-btn:before {
  @extend %icon-mask;
}

.ico-btn {
  --btn-px: .65rem;
}

.ico-brand {
  --ico: var(--brand);
}

@if $enable-primary-colors {
  .ico-blue {
    --ico: var(--blue);
  }

  .ico-green {
    --ico: var(--green);
  }

  .ico-red {
    --ico: var(--red);
  }

  .ico-orange {
    --ico: var(--orange);
  }

  .ico-cyan {
    --ico: var(--cyan);
  }
} // END [if/primary-colors]

} // END [if/icon-styles]

// Icon SVG variables

:where(html) {

  @if $enable-logo-svg {
    --logo: #{$logo};
  }
  
  @if $enable-house-svg {
    --house: #{$house};
  }
  
  @if $enable-email-svg {
    --email: #{$email};
  }
  
  @if $enable-plus-svg {
    --plus: #{$plus};
  }
  
  @if $enable-minus-svg {
    --minus: #{$minus};
  }
  
  @if $enable-bars-svg {
    --bars: #{$bars};
  }
  
  @if $enable-caret-down-svg {
    --caret-down: #{$caret-down};
  }
  
  @if $enable-caret-up-svg {
    --caret-up: #{$caret-up};
  }
  
  @if $enable-caret-left-svg {
    --caret-left: #{$caret-left};
  }
  
  @if $enable-caret-right-svg {
    --caret-right: #{$caret-right};
  }
  
  @if $enable-close-svg {
    --close: #{$close};
  }
  
  @if $enable-ext-link-svg {
    --ext-link: #{$ext-link};
  }
  
  @if $enable-pg-link-svg {
    --pg-link: #{$pg-link};
  }
  
  @if $enable-search-svg {
    --search: #{$search};
  }
  
  @if $enable-box-svg {
    --box: #{$box};
  }
  
  @if $enable-pen-box-svg {
    --pen-box: #{$pen-box};
  }
  
  @if $enable-tick-box-svg {
    --tick-box: #{$tick-box};
  }
  
  @if $enable-close-box-svg {
    --close-box: #{$close-box};
  }
  
  @if $enable-close-box-fill-svg {
    --close-box-fill: #{$close-box-fill};
  }
  
  @if $enable-download-svg {
    --download: #{$download};
  }
  
  @if $enable-user-svg {
    --user: #{$user};
  }
  
  @if $enable-question-svg {
    --question: #{$question};
  }
  
  @if $enable-sun-svg {
    --sun: #{$sun};
  }
  
  @if $enable-moon-svg {
    --moon: #{$moon};
  }
  
  @if $enable-radio-off-svg {
    --radio-off: #{$radio-off};
  }
  
  @if $enable-radio-on-svg {
    --radio-on: #{$radio-on};
  }
}

// SVG utility classes

@if $enable-logo-svg {
  .logo {
    --svg: var(--logo);        
  }
}

@if $enable-house-svg {
  .house {
    --svg: var(--house);        
  }
}

@if $enable-email-svg {
  .email {
    --svg: var(--email);        
  }
}

@if $enable-plus-svg {
  .plus {
    --svg: var(--plus);        
  }
}

@if $enable-minus-svg {
  .minus {
    --svg: var(--minus);        
  }
}

@if $enable-ext-link-svg {
  .ext-link {
    --svg: var(--ext-link);        
  }
}

@if $enable-pg-link-svg {
  .pg-link {
    --svg: var(--pg-link);        
  }
}

@if $enable-bars-svg {
  .bars {
    --svg: var(--bars);        
  }
}

@if $enable-caret-down-svg {
  .caret-down {
    --svg: var(--caret-down);        
  }
}

@if $enable-caret-up-svg {
  .caret-up {
    --svg: var(--caret-up);        
  }
}

@if $enable-caret-left-svg {
  .caret-left {
    --svg: var(--caret-left);        
  }
}

@if $enable-caret-right-svg {
  .caret-right {
    --svg: var(--caret-right);        
  }
}

@if $enable-box-svg {
  .box {
    --svg: var(--box);        
  }
}

@if $enable-pen-box-svg {
  .pen-box {
    --svg: var(--pen-box);        
  }
}

@if $enable-close-svg {
  .close {
    --svg: var(--close);        
  }
}

@if $enable-close-box-svg {
  .close-box {
    --svg: var(--close-box);        
  }
}

@if $enable-close-box-fill-svg {
  .close-box-fill {
    --svg: var(--close-box-fill);        
  }
}

@if $enable-tick-box-svg {
  .tick-box {
    --svg: var(--tick-box);        
  }
}

@if $enable-search-svg {
  .search {
    --svg: var(--search);        
  }
}

@if $enable-download-svg {
  .download {
    --svg: var(--download);        
  }
}

@if $enable-user-svg {
  .user {
    --svg: var(--user);        
  }
}

@if $enable-question-svg {
  .question {
    --svg: var(--question);        
  }
}

@if $enable-sun-svg {
  .sun {
    --svg: var(--sun);        
  }
}

@if $enable-moon-svg {
  .moon {
    --svg: var(--moon);        
  }
}

@if $enable-radio-off-svg {
  .radio-off {
    --svg: var(--radio-off);        
  }
}

@if $enable-radio-on-svg {
  .radio-on {
    --svg: var(--radio-on);        
  }
}