//  ------------------------------------------------------------
//  Popover element
//  ------------------------------------------------------------

@if $enable-popovers {

:where([popover]) {
  @if $enable-icon-mixins or $enable-icon-styles {
  --ico: var(--pop-txt);
  }
  width: fit-content;
  height: fit-content;
  color: var(--pop-txt);
  background-color: var(--pop-bg);
  margin-block: var(--pop-my);
  margin-inline: var(--pop-mx);
  padding-block: var(--pop-py);
  padding-inline: var(--pop-px);
  border-width: var(--pop-bd-width);
  border-color: var(--pop-bd-color);
  border-radius: var(--pop-radius);   
  overflow: auto;
}

:where([popover] *:last-child) {
   --mb: 0;
}

@if $enable-theme-colors {

.pop-dark {
  --pop-txt: #fff;
  --pop-bg: var(--body-bg-dark);
  --pop-bd-color: var(--surf-3-dark);
}

.pop-light {
  --pop-txt: #000;
  --pop-bg: var(--body-bg-light);
  --pop-bd-color: var(--surf-2-light);
}

} // END [if/theme-colors]

@if $enable-primary-colors {

.pop-blue {
  --pop-txt: #fff;
  --pop-bg: var(--blue);
  --pop-bd-color: var(--blue);
}


.pop-red {
  --pop-txt: #fff;
  --pop-bg: var(--red);
  --pop-bd-color: var(--red);
}

.pop-green {
  --pop-txt: #fff;
  --pop-bg: var(--green);
  --pop-bd-color: var(--green);
}

.pop-orange {
  --pop-txt: #000;
  --pop-bg: var(--orange);
  --pop-bd-color: var(--orange);
}

.pop-cyan {
  --pop-txt: #000;
  --pop-bg: var(--cyan);
  --pop-bd-color: var(--cyan);
}

} // END [if/primary-colors]

} // END [@if/popovers]
