//  ------------------------------------------------------------
//  Chroma syntax highlighting
//  ------------------------------------------------------------

@if $enable-syntax {

:where(html) {
  color-scheme: light;
  --ch0: color-mix(in srgb, var(--body-bg) 99%, black);
  --ch1: #c8c8fa;
  --ch2: #565c64;
  --ch3: #030303;
  --ch4: #333;
  --ch5: #9a6700;
  --ch6: #bc4c00;
  --ch7: #087990;
  --ch8: #795da3;
  --ch9: #183691;
  --ch10: #183691;
  --ch11: #a71d5d;
}

$dark-highlighter-colors: (
  "ch0": color-mix(in srgb, var(--body-bg) 95%, black),
  "ch1": #3e4451,
  "ch2": #868e96,
  "ch3": #565c64,
  "ch4": #abb2bf,
  "ch5": #d19a66,
  "ch6": #d98c8c,
  "ch7": #d19a66,
  "ch8": #e5c07b,
  "ch9": #98c379,
  "ch10": #56b6c2,
  "ch11": #b3b3ff,
) !default;

@if $enable-theme-manual {
:where([data-prefers-dark=true]) {
    color-scheme: dark;
    @each $dark-highlighter-colors, $value in $dark-highlighter-colors {
      --#{$dark-highlighter-colors}: #{$value};       
    }
  }
}
@else {
  @media (prefers-color-scheme: dark) {
    :where(html) {
      color-scheme: dark;
      @each $dark-highlighter-colors, $value in $dark-highlighter-colors {
        --#{$dark-highlighter-colors}: #{$value};       
      }
    }
  }
}

.chroma {
color: var(--text);
background-color: var(--ch0);
.hl { background-color: var(--ch1); }
.c { color: var(--ch2); }
.err { color: var(--ch6); }
.k { color: var(--ch11); }
.l { color: var(----ch7); }
.n { color: var(--ch6); }
.o { color: var(--ch4); }
.p { color: var(--ch4); }
.cm { color: var(--ch3); }
.cp { color: var(--ch6); }
.c1 { color: var(--ch2); }
.cs { color: var(--ch3); }
.gd { color: var(--ch6); }
.ge { font-style: italic; }
.gh { font-weight: 600; color: #fff; }
.gi { color: var(--blue); }
.gp { font-weight: 600; color: var(--ch3); }
.gs { font-weight: 600; }
.gu { font-weight: 600; color: var(--ch10); }
.kc { color: var(--ch11); }
.kd { color: var(--ch11); }
.kn { color: var(--ch10); }
.kp { color: var(--ch11); }
.kr { color: var(--ch11); }
.kt { color: var(--ch8); }
.ld { color: var(--ch10); }
.m { color: var(--ch7); }
.s { color: var(--ch10); }
.na { color: var(--ch8); }
.nb { color: var(--ch4); }
.nc { color: var(--ch5); }
.no { color: var(--ch6); }
.nd { color: var(--ch5); }
.ni { color: var(--ch6); }
.ne { color: var(--ch6); }
.nf { color: var(--ch9); }
.nl { color: var(--ch4); }
.nn { color: var(--ch8); }
.nx { color: var(--ch8); }
.py { color: var(--ch6); }
.nt { color: var(--ch6); }
.nv { color: var(--ch6); }
.ow { color: var(--ch10); }
.w { color: #fff; }
.mf { color: var(--ch7); }
.mh { color: var(--ch7); }
.mi { color: var(--ch7); }
.mo { color: var(--ch7); }
.sb { color: var(--ch10); }
.sc { color: #fff; }
.sd { color: var(--ch3); }
.s2 { color: var(--ch10); }
.se { color: var(--ch7); }
.sh { color: var(--ch10); }
.si { color: var(--ch7); }
.sx { color: var(--ch10); }
.sr { color: var(--ch10); }
.s1 { color: var(--ch10); }
.ss { color: var(--ch10); }
.bp { color: var(--ch4); }
.vc { color: var(--ch6); }
.vg { color: var(--ch6); }
.vi { color: var(--ch6); }
.il { color: var(--ch7); }
}

} // END [@if]


