//  ------------------------------------------------------------
//  Theme switch button
//  Requires $enable-theme-switch: true; in configuration.scss
//  and theme.js [assets/js] loaded before CSS in head.
//  See https://themalize.com/docs/getting-started/theme-switch/
//  ------------------------------------------------------------
@use "../../configuration" as *;
@use "../../properties" as *;
@use "icons" as *;

@if $enable-theme-switch and $enable-switch-button {

@if $enable-sun-svg and $enable-moon-svg {
  [style="color-scheme: light;"] #themes {
    --svg: var(--sun);
  }
  
  [style="color-scheme: dark;"] #themes {
    --svg: var(--moon);
  }   
}
@else {
  [style="color-scheme: light;"] #themes {
    --svg: #{$sun};
  }
  
  [style="color-scheme: dark;"] #themes {
    --svg: #{$moon};
  } 
}

#themes {
  --ico: var(--color);
  --ico-va: -.12em;
  --btn-px: .5rem;
}
  
#themes:before {
  @extend %icon-mask;
}

} // END [if/theme-switch]