//  ------------------------------------------------------------
//  Theme switch button
//  Requires $enable-theme-switch: true; in configuration.scss
//  and theme.js [assets/js] loaded before CSS in head.
//  See https://themalize.com/docs/getting-started/theme-switch/
//  ------------------------------------------------------------
@use "../../configuration" as *;
@use "../../properties" as *;
@use "icons" as *;

@if $enable-theme-switch and $enable-switch-button {

@if $enable-sun-svg and $enable-moon-svg {
  :where(html) {
    --switch-off: var(--sun);
    --switch-on: var(--moon);
  }
}
@else {
  :where(html) {
    --switch-off: #{$sun};
    --switch-on: #{$moon};
  }
}

#themes {
  --ico: var(--color);
  --svg: var(--switch-ico);
  --btn-px: .5rem;
  --ico-va: -.12em;
}
  
#themes:before {
  @extend %icon-mask;
}

:where(html:is(.light)) #themes {
  --svg: var(--switch-off);
}

:where(html:is(.dark)) #themes {
  --svg: var(--switch-on);
}

} // END [if/theme-switch]