//  ------------------------------------------------------------
//  Block mixins
//  ------------------------------------------------------------

@mixin block {
  .block {
    display: block;
  }
  
  .block-inline {
    display: inline-block;
  }
}

@mixin block-xl {
  .block-xl {
    display: block;
  }
  
  .block-inline-xl {
    display: inline-block;
  }
}

@mixin block-lg {
  .block-lg {
    display: block;
  }
  
  .block-inline-lg {
    display: inline-block;
  }
}

@mixin block-md {
  .block-md {
    display: block;
  }
  
  .block-inline-md {
    display: inline-block;
  }
}

@mixin block-sm {
  .block-sm {
    display: block;
  }
  
  .block-inline-sm {
    display: inline-block;
  }
}

@mixin block-xs {
  .block-xs {
    display: block;
  }
  
  .block-inline-xs {
    display: inline-block;
  }
}