//  ------------------------------------------------------------
//  Colored-gradient mixins
//  ------------------------------------------------------------

@mixin colored-gradients {
  @if $enable-icon-mixins or $enable-icon-styles {
  --ico: var(--grad-txt);
  }
  color: var(--grad-txt);
  background-image: var(--grad-bg);
}