//  ------------------------------------------------------------
//  Display mixins
//  ------------------------------------------------------------

@mixin display {
  @each $name, $value in $display-1 {
    .pc-#{$name} {
      place-content: #{$value};
    }
  }
  
  @each $name, $value in $display-1 {
    .jc-#{$name} {
      justify-content: #{$value};
    }
  }
  
  @each $name, $value in $display-1 {
    .ac-#{$name} {
      align-content: #{$value};
    }
  }
  
  @each $name, $value in $display-2 {
    .ai-#{$name} {
      align-items: #{$value};
    }
  }
  
  @each $name, $value in $display-2 {
    .as-#{$name} {
      align-self: #{$value};
    }
  }
}

@mixin display-xl {
  @each $name, $value in $display-1 {
    .pc-#{$name}-xl {
      place-content: #{$value};
    }
  }
  
  @each $name, $value in $display-1 {
    .jc-#{$name}-xl {
      justify-content: #{$value};
    }
  }
  
  @each $name, $value in $display-1 {
    .ac-#{$name}-xl {
      align-content: #{$value};
    }
  }
  
  @each $name, $value in $display-2 {
    .ai-#{$name}-xl {
      align-items: #{$value};
    }
  }
  
  @each $name, $value in $display-2 {
    .as-#{$name}-xl {
      align-self: #{$value};
    }
  }
}

@mixin display-lg {
  @each $name, $value in $display-1 {
    .pc-#{$name}-lg {
      place-content: #{$value};
    }
  }
  
  @each $name, $value in $display-1 {
    .jc-#{$name}-lg {
      justify-content: #{$value};
    }
  }
  
  @each $name, $value in $display-1 {
    .ac-#{$name}-lg {
      align-content: #{$value};
    }
  }
  
  @each $name, $value in $display-2 {
    .ai-#{$name}-lg {
      align-items: #{$value};
    }
  }
  
  @each $name, $value in $display-2 {
    .as-#{$name}-lg {
      align-self: #{$value};
    }
  }
}

@mixin display-md {
  @each $name, $value in $display-1 {
    .pc-#{$name}-md {
      place-content: #{$value};
    }
  }
  
  @each $name, $value in $display-1 {
    .jc-#{$name}-md {
      justify-content: #{$value};
    }
  }
  
  @each $name, $value in $display-1 {
    .ac-#{$name}-md {
      align-content: #{$value};
    }
  }
  
  @each $name, $value in $display-2 {
    .ai-#{$name}-md {
      align-items: #{$value};
    }
  }
  
  @each $name, $value in $display-2 {
    .as-#{$name}-md {
      align-self: #{$value};
    }
  }
}

@mixin display-sm {
  @each $name, $value in $display-1 {
    .pc-#{$name}-sm {
      place-content: #{$value};
    }
  }
  
  @each $name, $value in $display-1 {
    .jc-#{$name}-sm {
      justify-content: #{$value};
    }
  }
  
  @each $name, $value in $display-1 {
    .ac-#{$name}-sm {
      align-content: #{$value};
    }
  }
  
  @each $name, $value in $display-2 {
    .ai-#{$name}-sm {
      align-items: #{$value};
    }
  }
  
  @each $name, $value in $display-2 {
    .as-#{$name}-sm {
      align-self: #{$value};
    }
  }
}

@mixin display-xs {
  @each $name, $value in $display-1 {
    .pc-#{$name}-xs {
      place-content: #{$value};
    }
  }
  
  @each $name, $value in $display-1 {
    .jc-#{$name}-xs {
      justify-content: #{$value};
    }
  }
  
  @each $name, $value in $display-1 {
    .ac-#{$name}-xs {
      align-content: #{$value};
    }
  }
  
  @each $name, $value in $display-2 {
    .ai-#{$name}-xs {
      align-items: #{$value};
    }
  }
  
  @each $name, $value in $display-2 {
    .as-#{$name}-xs {
      align-self: #{$value};
    }
  }
}