//  ------------------------------------------------------------
//  Grid auto mixins
//  ------------------------------------------------------------

@mixin grid-auto-variables {
  @each $name, $value in $grid-auto {
    --#{$name}: #{$value};
  }
}

@mixin grid-auto {
  @each $grid-auto, $value in $grid-auto {
    .#{$grid-auto} {
      --gtc: var(--#{$grid-auto});        
    }
  }
}

@mixin grid-auto-xl {
  @each $grid-auto, $value in $grid-auto {
    .#{$grid-auto}-xl {
      --gtc: var(--#{$grid-auto});        
    }
  }
}

@mixin grid-auto-lg {
  @each $grid-auto, $value in $grid-auto {
    .#{$grid-auto}-lg {
      --gtc: var(--#{$grid-auto});        
    }
  }
}

@mixin grid-auto-md {
  @each $grid-auto, $value in $grid-auto {
    .#{$grid-auto}-md {
      --gtc: var(--#{$grid-auto});        
    }
  }
}

@mixin grid-auto-sm {
  @each $grid-auto, $value in $grid-auto {
    .#{$grid-auto}-sm {
      --gtc: var(--#{$grid-auto});        
    }
  }
}

@mixin grid-auto-xs {
  @each $grid-auto, $value in $grid-auto {
    .#{$grid-auto}-xs {
      --gtc: var(--#{$grid-auto});        
    }
  }
}

//  ------------------------------------------------------------
//  Grid columns mixins
//  ------------------------------------------------------------

// Columns and rows
@mixin grid-columns {
  @each $name, $value in $grid-column {
    .#{$name} {
      grid-column: #{$value};        
    }
  }

  @each $name, $value in $grid-row {
    .#{$name} {
      grid-row: #{$value};        
    }
  }
  
  @each $name, $value in $grid-start {
    .col-#{$name} {
      grid-column-start: #{$value};        
    }
  }
}

@mixin grid-columns-xl {
  @each $name, $value in $grid-column {
    .#{$name}-xl {
      grid-column: #{$value};        
    }
  }

  @each $name, $value in $grid-row {
    .#{$name}-xl {
      grid-row: #{$value};        
    }
  }
  
  @each $name, $value in $grid-start {
    .col-#{$name}-xl {
      grid-column-start: #{$value};        
    }
  }
}

@mixin grid-columns-lg {
  @each $name, $value in $grid-column {
    .#{$name}-lg {
      grid-column: #{$value};        
    }
  }

  @each $name, $value in $grid-row {
    .#{$name}-lg {
      grid-row: #{$value};        
    }
  }
  
  @each $name, $value in $grid-start {
    .col-#{$name}-lg {
      grid-column-start: #{$value};        
    }
  }
}

@mixin grid-columns-md {
  @each $name, $value in $grid-column {
    .#{$name}-md {
      grid-column: #{$value};        
    }
  }

  @each $name, $value in $grid-row {
    .#{$name}-md {
      grid-row: #{$value};        
    }
  }
}

@mixin grid-columns-sm {
  @each $name, $value in $grid-column {
    .#{$name}-sm {
      grid-column: #{$value};        
    }
  }

  @each $name, $value in $grid-row {
    .#{$name}-sm {
      grid-row: #{$value};        
    }
  }
  
  @each $name, $value in $grid-start {
    .col-#{$name}-sm {
      grid-column-start: #{$value};        
    }
  }
}

@mixin grid-columns-xs {
  @each $name, $value in $grid-column {
    .#{$name}-xs {
      grid-column: #{$value};        
    }
  }

  @each $name, $value in $grid-row {
    .#{$name}-xs {
      grid-row: #{$value};        
    }
  }
  
  @each $name, $value in $grid-start {
    .col-#{$name}-xs {
      grid-column-start: #{$value};        
    }
  }
}
