//  ------------------------------------------------------------
//  Sizing mixins
//  ------------------------------------------------------------

@mixin sizing {
  .w-100 {
    width: 100%;
  }
  
  .h-100 {
    height: 100%;
  }
  
  .w-100vw {
    width: 100vw;
  }
  
  .h-100vh {
    height: 100vh;
  }
  
  .w-auto {
    width: auto;
  }
  
  .h-auto {
    height: auto;
  }
  
  .w-calc {
    width: calc(100vw - var(--width));
  }

  .h-calc {
    height: calc(100vh - var(--height));
  }  
}

@mixin sizing-xl {
  .w-100-xl {
    width: 100%;
  }
  
  .h-100-xl {
    height: 100%;
  }
  
  .w-100vw-xl {
    width: 100vw;
  }
  
  .h-100vh-xl {
    height: 100vh;
  }
  
  .w-auto-xl {
    width: auto;
  }
  
  .h-auto-xl {
    height: auto;
  }
  
  .w-calc-xl {
    width: calc(100vw - var(--width));
  }

  .h-calc-xl {
    height: calc(100vh - var(--height));
  }  
}

@mixin sizing-lg {
  .w-100-lg {
    width: 100%;
  }
  
  .h-100-lg {
    height: 100%;
  }
  
  .w-100vw-lg {
    width: 100vw;
  }
  
  .h-100vh-lg {
    height: 100vh;
  }
  
  .w-auto-lg {
    width: auto;
  }
  
  .h-auto-lg {
    height: auto;
  }
  
  .w-calc-lg {
    width: calc(100vw - var(--width));
  }

  .h-calc-lg {
    height: calc(100vh - var(--height));
  }  
}

@mixin sizing-md {
  .w-100-md {
    width: 100%;
  }
  
  .h-100-md {
    height: 100%;
  }
  
  .w-100vw-md {
    width: 100vw;
  }
  
  .h-100vh-md {
    height: 100vh;
  }

  .w-auto-md {
    width: auto;
  }
  
  .h-auto-md {
    height: auto;
  }
  
  .w-calc-md {
    width: calc(100vw - var(--width));
  }

  .h-calc-md {
    height: calc(100vh - var(--height));
  }  
}

@mixin sizing-sm {
  .w-100-sm {
    width: 100%;
  }
  
  .h-100-sm {
    height: 100%;
  }
  
  .w-100vw-sm {
    width: 100vw;
  }
  
  .h-100vh-sm {
    height: 100vh;
  }

  .w-auto-sm {
    width: auto;
  }
  
  .h-auto-sm {
    height: auto;
  }
  
  .w-calc-sm {
    width: calc(100vw - var(--width));
  }

  .h-calc-sm {
    height: calc(100vh - var(--height));
  }  
}

@mixin sizing-xs {
  .w-100-xs {
    width: 100%;
  }
  
  .h-100-xs {
    height: 100%;
  }
  
  .w-100vw-xs {
    width: 100vw;
  }
  
  .h-100vh-xs {
    height: 100vh;
  }

  .w-auto-xs {
    width: auto;
  }
  
  .h-auto-xs {
    height: auto;
  }
  
  .w-calc-xs {
    width: calc(100vw - var(--width));
  }

  .h-calc-xs {
    height: calc(100vh - var(--height));
  }  
}
