//  ------------------------------------------------------------
//  Grid
//  ------------------------------------------------------------

@if $enable-grid-auto {
  :where(html) {
    @include grid-auto-variables;
  }
}

@if $enable-grid-auto {
  .grid {
    display: grid;
    grid-template-columns: var(--gtc);
    grid-template-rows: var(--gtr);
  }
}

@if $enable-grid-columns {
  .grid-col {
    --rows: repeat(var(--row, 1), minmax(0, 1fr));
    display: grid;
    grid-template-columns: repeat(var(--columns, 12), minmax(0, 1fr));
    grid-template-rows: var(--rows);
  }
}

@if $enable-grid-auto {@include grid-auto;}
@if $enable-grid-columns {@include grid-columns;}

@if $enable-breakpoint-xl {
  @media (max-width: #{$breakpoint-xl}) {
    @if $enable-grid-auto {@include grid-auto-xl;}
    @if $enable-grid-columns {@include grid-columns-xl;}
  }
}

@if $enable-breakpoint-lg {
  @media (max-width: #{$breakpoint-lg}) {
    @if $enable-grid-auto {@include grid-auto-lg;}
    @if $enable-grid-columns {@include grid-columns-lg;}
  }
}

@if $enable-breakpoint-md {
  @media (max-width: #{$breakpoint-md}) {
    @if $enable-grid-auto {@include grid-auto-md;}
    @if $enable-grid-columns {@include grid-columns-md;}
  }
}

@if $enable-breakpoint-sm {
  @media (max-width: #{$breakpoint-sm}) {
    @if $enable-grid-auto {@include grid-auto-sm;}
    @if $enable-grid-columns {@include grid-columns-sm;}
  }
}

@if $enable-breakpoint-xs {
  @media (max-width: #{$breakpoint-xs}) {
    @if $enable-grid-auto {@include grid-auto-xs;}
    @if $enable-grid-columns {@include grid-columns-xs;}
  }
}
