//  ---------------------------------------------------------- 
//  Maps
//  ----------------------------------------------------------

$theme-colors: (
  "theme-hs": #{$theme-hs},
  "brand-hs": #{$brand-hs},
) !default;

$light-scheme-colors: (
  "text-light": #{$text-light},
  "link-light": #{$link-light},
  "link-hover-light": #{$link-hover-light},
  "link-visited-light": #{$link-visited-light},
  "body-bg-light": #{$body-bg-light},
  "surf-1-light": #{$surf-1-light},
  "surf-2-light": #{$surf-2-light},
  "surf-3-light": #{$surf-3-light},
  "surf-4-light": #{$surf-4-light},
  "brand-light": #{$brand-light},
) !default;

$light-scheme: (
  "text": var(--text-light),
  "link": var(--link-light),
  "link-hover": var(--link-hover-light),
  "link-visited": var(--link-visited-light),
  "body-bg": var(--body-bg-light),
  "surf-1": var(--surf-1-light),
  "surf-2": var(--surf-2-light),
  "surf-3": var(--surf-3-light),
  "surf-4": var(--surf-4-light),
  "brand": var(--brand-light),
) !default;

$light-scheme-only: (
  "text": #{$text-light},
  "link": #{$link-light},
  "link-hover": #{$link-hover-light},
  "link-visited": #{$link-visited-light},
  "body-bg": #{$body-bg-light},
  "surf-1": #{$surf-1-light},
  "surf-2": #{$surf-2-light},
  "surf-3": #{$surf-3-light},
  "surf-4": #{$surf-4-light},
  "brand": #{$brand-light},
) !default;

$dark-scheme-colors: (
  "text-dark": #{$text-dark},
  "link-dark": #{$link-dark},
  "link-hover-dark": #{$link-hover-dark},
  "link-visited-dark": #{$link-visited-dark},
  "body-bg-dark": #{$body-bg-dark},
  "surf-1-dark": #{$surf-1-dark},
  "surf-2-dark": #{$surf-2-dark},
  "surf-3-dark": #{$surf-3-dark},
  "surf-4-dark": #{$surf-4-dark},
  "brand-dark": #{$brand-dark},
) !default;

$dark-scheme: (
  "text": var(--text-dark),
  "link": var(--link-dark),
  "link-hover": var(--link-hover-dark),
  "link-visited": var(--link-visited-dark),
  "body-bg": var(--body-bg-dark),
  "surf-1": var(--surf-1-dark),
  "surf-2": var(--surf-2-dark),
  "surf-3": var(--surf-3-dark),
  "surf-4": var(--surf-4-dark),
  "mono-txt": #fff,
  "mono-bg": #000,
  "brand": var(--brand-dark),
) !default;

$dark-scheme-only: (
  "text": #{$text-dark},
  "link": #{$link-dark},
  "link-hover": #{$link-hover-dark},
  "link-visited": #{$link-visited-dark},
  "body-bg": #{$body-bg-dark},
  "surf-1": #{$surf-1-dark},
  "surf-2": #{$surf-2-dark},
  "surf-3": #{$surf-3-dark},
  "surf-4": #{$surf-4-dark},
  "brand": #{$brand-dark},
) !default;

$primary-colors: (
  "blue": #{$blue},
  "blue-light": #{$blue-light},
  "blue-lighter": #{$blue-lighter},
  "blue-dark": #{$blue-dark},
  "blue-darker": #{$blue-darker},
  "red": #{$red},
  "red-light": #{$red-light},
  "red-lighter": #{$red-lighter},
  "red-dark": #{$red-dark},
  "red-darker": #{$red-darker},
  "green": #{$green},
  "green-light": #{$green-light},
  "green-lighter": #{$green-lighter},
  "green-dark": #{$green-dark},
  "green-darker": #{$green-darker},
  "orange": #{$orange},
  "orange-light": #{$orange-light},
  "orange-lighter": #{$orange-lighter},
  "orange-dark": #{$orange-dark},
  "orange-darker": #{$orange-darker},
  "cyan": #{$cyan},
  "cyan-light": #{$cyan-light},
  "cyan-lighter": #{$cyan-lighter},
  "cyan-dark": #{$cyan-dark},
  "cyan-darker": #{$cyan-darker},
) !default;

$typography: (
  "color": var(--text),
  "font": #{$font-family},
  "fs": #{$font-size},
  "body": #{$body},
  "fs-xl": #{$fs-xl},
  "fs-lg": #{$fs-lg},
  "fs-sm": #{$fs-sm},
  "fs-xs": #{$fs-xs},
  "fs-xxs": #{$fs-xxs},
  "h1": #{$h1},
  "h2": #{$h2},
  "h3": #{$h3},
  "h4": #{$h4},
  "h5": #{$h5},
  "h6": #{$h6},
  "lh-body": #{$lh-body},
  "lh-header": #{$lh-header},
) !default;

$forms-buttons: (
  "lh-btn-forms": #{$lh-btn-forms},
  "btn-py": #{$btn-py},
  "btn-px": #{$btn-px},
  "btn-bg": #{$btn-bg},
  "btn-hover": #{$btn-hover},
  "btn-bd-width": #{$btn-bd-width},
  "btn-bd-color": #{$btn-bd-color},
  "btn-radius": #{$btn-radius},
  "form-py": #{$form-py},
  "form-px": #{$form-px},
  "form-bg": #{$form-bg},
  "form-bd-width": #{$form-bd-width},
  "form-bd-color": #{$form-bd-color},
  "form-radius": #{$form-radius},
  "input-focus": #{$input-focus},
  "input-focus-color": #{$input-focus-color},
) !default;

$tables: (
  "table-thead-txt": #{$table-thead-txt},
  "table-thead-bg": #{$table-thead-bg},
  "table-hover": #{$table-hover},
  "table-stripes": #{$table-stripes},
  "table-bd-color": #{$table-bd-color},
  "table-bd-width": #{$table-bd-width},
  "table-py": #{$table-py},
  "table-px": #{$table-px},
  "table-mb": #{$table-mb},
) !default;

$accordions: (
  "summary-txt": #{$summary-txt},
  "summary-bg": #{$summary-bg},
  "summary-ico": #{$summary-ico},
  "details-py": #{$details-py},
  "details-px": #{$details-px},
  "details-bd-color": #{$details-bd-color},
  "details-bd-width": #{$details-bd-width},
  "details-radius": #{$details-radius},
) !default;

$cards: (
  "card-px": #{$card-px},
  "card-pt": #{$card-pt},
  "card-pb": #{$card-pb},
  "card-bd-color": #{$card-bd-color},
  "card-bd-width": #{$card-bd-width},
  "card-radius": #{$card-radius},
  "card-bg": #{$card-bg},
  "card-hover": #{$card-hover},
  "card-focus": #{$card-focus},
  "card-title-txt": #{$card-title-txt},
  "card-title-bg": #{$card-title-bg},
  "card-title-py": #{$card-title-py},
  "card-title-h-py": #{$card-title-h-py},
) !default;

$dialogs: (
  "dialog-txt": #{$dialog-txt},
  "dialog-bg": #{$dialog-bg},
  "dialog-header-txt": #{$dialog-header-txt},
  "dialog-header-bg": #{$dialog-header-bg},
  "dialog-body-bg": #{$dialog-body-bg},
  "dialog-body-py": #{$dialog-body-py},
  "dialog-body-px": #{$dialog-body-px},
  "dialog-bd-color": #{$dialog-bd-color},
  "dialog-bd-width": #{$dialog-bd-width},
  "dialog-radius": #{$dialog-radius}, 
  "dialog-top": #{$dialog-top},
  "dialog-width": #{$dialog-width},
  "dialog-max-width": #{$dialog-max-width},
) !default;

$popovers: (
  "pop-txt": #{$pop-txt},
  "pop-bg": #{$pop-bg},
  "pop-bd-color": #{$pop-bd-color},
  "pop-bd-width": #{$pop-bd-width},
  "pop-radius": #{$pop-radius},
  "pop-my": #{$pop-my},
  "pop-mx": #{$pop-mx},
  "pop-py": #{$pop-py},
  "pop-px": #{$pop-px},
  "pop-width": #{$pop-width},
) !default;

$badges: (
  "badge-txt": #{$badge-txt},
  "badge-fs": #{$badge-fs},
  "badge-fw": #{$badge-fw},
  "badge-py": #{$badge-py},
  "badge-px": #{$badge-px},
  "badge-radius": #{$badge-radius},
  "badge-bg": #{$badge-bg},
) !default;

$shadows: (
  "shadow": #{$shadow},
  "shadow-sm": #{$shadow-sm},
  "shadow-lg": #{$shadow-lg},
) !default;

$gradients-theme: (
  "gradient-light": #{$gradient-light},
  "gradient-dark": #{$gradient-dark},
) !default;

$gradients-primary: (
  "gradient-blue": #{$gradient-blue},
  "gradient-red": #{$gradient-red},
  "gradient-green": #{$gradient-green},
  "gradient-orange": #{$gradient-orange},
  "gradient-cyan": #{$gradient-cyan},
) !default;

$fraction-grid: (
  "g-1": #{$g-1},
  "g-2": #{$g-2},
  "g-3": #{$g-3},
  "g-4": #{$g-4},
  "g-5": #{$g-5},
  "g-6": #{$g-6},
  "g-7": #{$g-7},
  "g-8": #{$g-8},
  "g-9": #{$g-9},
  "g-10": #{$g-10},
  "g-11": #{$g-11},
  "g-12": #{$g-12},
) !default;

$column-grid: (
  "col-0": #{$span-0},
  "col-1": #{$span-1},
  "col-2": #{$span-2},
  "col-3": #{$span-3},
  "col-4": #{$span-4},
  "col-5": #{$span-5},
  "col-6": #{$span-6},
  "col-7": #{$span-7},
  "col-8": #{$span-8},
  "col-9": #{$span-9},
  "col-10": #{$span-10},
  "col-11": #{$span-11},
  "col-12": #{$span-12},
) !default;

$row-grid: (
  "row-0": #{$span-0},
  "row-1": #{$span-1},
  "row-2": #{$span-2},
  "row-3": #{$span-3},
  "row-4": #{$span-4},
  "row-5": #{$span-5},
  "row-6": #{$span-6},
  "row-7": #{$span-7},
  "row-8": #{$span-8},
  "row-9": #{$span-9},
  "row-10": #{$span-10},
  "row-11": #{$span-11},
  "row-12": #{$span-12},
) !default;

$start-grid: (
  "start-0": #{$start-0},
  "start-1": #{$start-1},
  "start-2": #{$start-2},
  "start-3": #{$start-3},
  "start-4": #{$start-4},
  "start-5": #{$start-5},
  "start-6": #{$start-6},
  "start-7": #{$start-7},
  "start-8": #{$start-8},
  "start-9": #{$start-9},
  "start-10": #{$start-10},
  "start-11": #{$start-11},
  "start-12": #{$start-12},
) !default;

$spacing: (
  "0": #{$s0},
  "1": #{$s1},
  "2": #{$s2},
  "3": #{$s3},
  "4": #{$s4},
  "5": #{$s5},
) !default;

$spacing-auto: (
  "auto": #{$auto},
  "0": #{$s0},
  "1": #{$s1},
  "2": #{$s2},
  "3": #{$s3},
  "4": #{$s4},
  "5": #{$s5},
) !default;

$display-1: (
  "f-start": #{$flex-start},
  "f-end": #{$flex-end},
  "start": #{$start},
  "end": #{$end},
  "center": #{$center},
  "space-around": #{$space-around},
  "space-between": #{$space-between},
  "space-evenly": #{$space-evenly},
) !default;

$display-2: (
  "f-start": #{$flex-start},
  "f-end": #{$flex-end},
  "start": #{$start},
  "end": #{$end},
  "center": #{$center},
) !default;

$position: (
  "pos-unset": #{$unset},
  "relative": #{$relative},
  "absolute": #{$absolute},
  "fixed": #{$fixed},
  "sticky": #{$sticky},
) !default;

$inset: (
  "top": #{$top},
  "bottom": #{$bottom},
  "left": #{$left},
  "right": #{$right},
);

$z-index: (
  "z-n": #{$z-n},
  "z-0": #{$z-0},
  "z-1": #{$z-1},
  "z-2": #{$z-2},
  "z-3": #{$z-3},
  "z-4": #{$z-4},
) !default;

$overflow: (
  "unset": #{$unset},
  "auto": #{$overflow-auto},
  "scroll": #{$overflow-scroll},
) !default;

$scroll-gutter: (
  "scroll-stable-unset": #{$unset},
  "scroll-stable": #{$scroll-stable},
) !default;

// Sizing

