//  ------------------------------------------------------------
//  Sizing mixins
//  ------------------------------------------------------------

@mixin sizing {
  .w-auto {
    inline-size: auto;
  }

  .w-100 {
    inline-size: 100%;
  }
  
  .w-100-min {
    min-inline-size: 100%;
  }
  
  .w-100-max {
    max-inline-size: 100%;
  }

  .w-100vw {
    inline-size: 100vw;
  } 

  .w-calc {
    inline-size: calc(100vw - var(--width));
  }   

  .h-auto {
    block-size: auto;
  }

  .h-100 {
    block-size: 100%;
  }

  .h-100-min {
    min-block-size: 100%;
  }

  .h-100-max {
    max-block-size: 100%;
  }    

  .h-100vh {
    block-size: 100vh;
  }

  .h-calc {
    block-size: calc(100vh - var(--height));
  }  
}

@mixin sizing-xl {
  .w-auto-xl {
    inline-size: auto;
  }

  .w-100-xl {
    inline-size: 100%;
  }
  
  .w-100-min-xl {
    min-inline-size: 100%;
  }
  
  .w-100-max-xl {
    max-inline-size: 100%;
  }

  .w-100vw-xl {
    inline-size: 100vw;
  } 

  .w-calc-xl {
    inline-size: calc(100vw - var(--width));
  }   

  .h-auto-xl {
    block-size: auto;
  }

  .h-100-xl {
    block-size: 100%;
  }

  .h-100-min-xl {
    min-block-size: 100%;
  }

  .h-100-max-xl {
    max-block-size: 100%;
  }    

  .h-100vh-xl {
    block-size: 100vh;
  }

  .h-calc-xl {
    block-size: calc(100vh - var(--height));
  }
}

@mixin sizing-lg {
  .w-auto-lg {
    inline-size: auto;
  }

  .w-100-lg {
    inline-size: 100%;
  }
  
  .w-100-min-lg {
    min-inline-size: 100%;
  }
  
  .w-100-max-lg {
    max-inline-size: 100%;
  }

  .w-100vw-lg {
    inline-size: 100vw;
  } 

  .w-calc-lg {
    inline-size: calc(100vw - var(--width));
  }   

  .h-auto-lg {
    block-size: auto;
  }

  .h-100-lg {
    block-size: 100%;
  }

  .h-100-min-lg {
    min-block-size: 100%;
  }

  .h-100-max-lg {
    max-block-size: 100%;
  }    

  .h-100vh-lg {
    block-size: 100vh;
  }

  .h-calc-lg {
    block-size: calc(100vh - var(--height));
  }
}

@mixin sizing-md {
  .w-auto-md {
    inline-size: auto;
  }

  .w-100-md {
    inline-size: 100%;
  }
  
  .w-100-min-md {
    min-inline-size: 100%;
  }
  
  .w-100-max-md {
    max-inline-size: 100%;
  }

  .w-100vw-md {
    inline-size: 100vw;
  } 

  .w-calc-md {
    inline-size: calc(100vw - var(--width));
  }   

  .h-auto-md {
    block-size: auto;
  }

  .h-100-md {
    block-size: 100%;
  }

  .h-100-min-md {
    min-block-size: 100%;
  }

  .h-100-max-md {
    max-block-size: 100%;
  }    

  .h-100vh-md {
    block-size: 100vh;
  }

  .h-calc-md {
    block-size: calc(100vh - var(--height));
  }
}

@mixin sizing-sm {
  .w-auto-sm {
    inline-size: auto;
  }

  .w-100-sm {
    inline-size: 100%;
  }
  
  .w-100-min-sm {
    min-inline-size: 100%;
  }
  
  .w-100-max-sm {
    max-inline-size: 100%;
  }

  .w-100vw-sm {
    inline-size: 100vw;
  } 

  .w-calc-sm {
    inline-size: calc(100vw - var(--width));
  }   

  .h-auto-sm {
    block-size: auto;
  }

  .h-100-sm {
    block-size: 100%;
  }

  .h-100-min-sm {
    min-block-size: 100%;
  }

  .h-100-max-sm {
    max-block-size: 100%;
  }    

  .h-100vh-sm {
    block-size: 100vh;
  }

  .h-calc-sm {
    block-size: calc(100vh - var(--height));
  }
}

@mixin sizing-xs {
  .w-auto-xs {
    inline-size: auto;
  }

  .w-100-xs {
    inline-size: 100%;
  }

  .w-100-min-xs {
    min-inline-size: 100%;
  }
  
  .w-100-max-xs {
    max-inline-size: 100%;
  }

  .w-100vw-xs {
    inline-size: 100vw;
  } 

  .w-calc-xs {
    inline-size: calc(100vw - var(--width));
  }   

  .h-auto-xs {
    block-size: auto;
  }

  .h-100-xs {
    block-size: 100%;
  }

  .h-100-min-xs {
    min-block-size: 100%;
  }

  .h-100-max-xs {
    max-block-size: 100%;
  }    

  .h-100vh-xs {
    block-size: 100vh;
  }

  .h-calc-xs {
    block-size: calc(100vh - var(--height));
  }
}
